<div id="myDiagramDiv" style="border: 1px solid black; width: 100%; height: 500px;"></div>

<p>
  A <em>process flow diagram</em> is commonly used in chemical and process engineering to indicate the general flow of plant processes and equipment.
  A simple SCADA diagram, with animation of the flow along the pipes, is implemented here. Nuevo
</p>
<p>
  The diagram displays the background grid layer by setting <b>grid.visible</b> to true,
  and also allows snapping to the grid using <a href="../api/symbols/DraggingTool.html#isGridSnapEnabled" target="api">DraggingTool.isGridSnapEnabled</a>,
  <a href="../api/symbols/ResizingTool.html#isGridSnapEnabled" target="api">ResizingTool.isGridSnapEnabled</a>, and <a href="../api/symbols/RotatingTool.html#snapAngleMultiple" target="api">RotatingTool.snapAngleMultiple</a> alongside <a href="../api/symbols/RotatingTool.html#snapAngleEpsilon" target="api">RotatingTool.snapAngleEpsilon</a>.
</p>
<p>
  There is also a custom animation that modifies the <a href="../api/symbols/Shape.html#strokeDashOffset" target="api">Shape.strokeDashOffset</a> for each link.
</p>

<div>
  <button id="SaveButton" (click)="save()" [disabled]="!isDiagramModified()">Guardar</button>
  <button (click)="load()">Cargar</button>
</div>

<textarea id="mySavedModel" style="width:100%;height:300px">{{ savedModel }}</textarea>
