.card-estacion-renovada {
  background: linear-gradient(135deg, #c7ac00, #9c8700); /* Degradado atractivo */
  color: white; /* Contraste con el fondo */
  border: none; /* Sin bordes */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 10px; /* Reduce el espacio interno */
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; /* Ajusta automáticamente según el contenido */
  min-height: 150px; /* Forzar una altura mínima razonable */
}

.card-estacion-renovada .card-body {
  padding: 5px; /* Reduce aún más el espacio interno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Controla el espacio entre elementos */
}

.card-estacion-renovada h1 {
  font-size: 1.2rem; /* Reduce el tamaño del título */
  margin: 0; /* Elimina márgenes */
}

.card-estacion-renovada p {
  font-size: 0.9rem; /* Texto más compacto */
  margin: 0; /* Elimina márgenes */
  line-height: 1.2; /* Reduce el espacio entre líneas */
}

.card-estacion-renovada .btn {
  padding: 0.3rem 0.8rem; /* Botón más pequeño */
  font-size: 0.8rem; /* Texto del botón reducido */
  border-radius: 15px; /* Bordes redondeados */
  margin-top: 5px; /* Espacio reducido encima del botón */
}




.card-estilizada {
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; /* Esquinas redondeadas afectan el contenido */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

// .card-estilizada:hover {
//   transform: translateY(-5px); 
//   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
// }

.card-diagram {
  background-color: #7b858b; /* Fondo del encabezado */
  color: white; /* Texto blanco */
  text-align: center; /* Centrar texto */
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Línea sutil */
}

.card-estilizada .card-header {
  background-color: #166c9f; /* Fondo del encabezado */
  color: white; /* Texto blanco */
  text-align: center; /* Centrar texto */
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Línea sutil */
}

.card-title {
  margin: 0;
}

.card-estilizada .card-body {
  color: #333; /* Texto oscuro */
  text-align: center; /* Centrar contenido */
}


/* Si hay una sola tarjeta, elimina el espacio */
.no-space-below {
  margin-bottom: 0 !important;
}

/* Si hay múltiples tarjetas, agrega espacio entre ellas */
.space-below {
  margin-bottom: 20px; /* Ajusta este valor según el diseño */
}

/* Asegúrate de no agregar margen a la última tarjeta */
.card-estilizada:last-child {
  margin-bottom: 0 !important;
}


.card-spacing-single {
  margin-bottom: 0px !important; /* Espacio deseado entre tarjetas */
}

.card-spacing-multiple {
  margin-bottom: 20px !important; /* Espacio deseado entre tarjetas */
}





.btn-crear-diagrama {
  background: linear-gradient(135deg, #32cd32, #228b22); /* Degradado verde */
  color: white;
  font-size: 1.2rem; /* Tamaño del texto */
  font-weight: bold;
  padding: 0.55rem 1.3rem;
  border: none;
  border-radius: 50px; /* Forma redondeada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Animación suave */
  margin-top: 1rem;
}

.btn-crear-diagrama:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  background: linear-gradient(135deg, #228b22, #006400); /* Degradado más oscuro */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
}

.btn-crear-diagrama:active {
  transform: scale(0.95); /* Efecto al hacer clic */
}


/* Carrusel */
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 300px;
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Duración de la animación */
  }
  
  .carousel-image.animate {
    opacity: 0;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  






  .dropzone {
    min-height: 200px;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
  }
  .fondoDrop {
    background: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  ::ng-deep #diagram {
    height: 130px;
  }
  
  .selected-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  
  select.form-select option {
    display: flex;
    align-items: center;
  }
  
  select.form-select option i {
    margin-right: 8px;
  }
  