<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card cardPrincipal">
                <h3>Estación Meteorológica</h3>
                <p>Conoce las condiciones climáticas actuales, datos de temperatura, humedad y velocidad del viento.</p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header cardSeconday">
                    <h5 class="card-title">Diagram 1</h5>
                </div>
                <div class="card-body">
                    <dx-diagram #diagram id="diagram" [simpleView]="true">
                        <dxo-nodes [dataSource]="dataSource" keyExpr="ID" textExpr="Title" parentKeyExpr="Head_ID">
                            <dxo-auto-layout type="tree"></dxo-auto-layout>
                        </dxo-nodes>
                        <dxo-properties-panel visibility="disabled"></dxo-properties-panel>
                        <dxo-toolbox visibility="visible" [showSearch]="false" [shapeIconsPerRow]="4" [width]="220">
                            <dxi-group category="hardware" title="Hardware" [expanded]="false"></dxi-group>
                            <dxi-group category="employees" title="Employees" [expanded]="false" displayMode="texts"></dxi-group>
                            <dxi-group category="general" title="General" [expanded]="false"></dxi-group>
                            <dxi-group category="flowchart" title="Flowchart" [expanded]="false"></dxi-group>
                            <dxi-group category="containers" title="Containers" [expanded]="false"></dxi-group>
                            <dxi-group title="Items" [shapes]="['rectangle']" [expanded]="false"></dxi-group>
                            <dxi-group category="orgChart" title="Organizational Chart" [expanded]="false"></dxi-group>
                        </dxo-toolbox>
                        <dxi-custom-shape *ngFor="let image of imagess; let i = index" [category]="'hardware'"
                            [type]="'shape-' + i" [title]="'Shape ' + i" [backgroundImageUrl]="image"
                            [backgroundImageLeft]="0.15" [backgroundImageTop]="0" [backgroundImageWidth]="0.7"
                            [backgroundImageHeight]="0.7" [defaultWidth]="0.75" [defaultHeight]="0.75"
                            [defaultText]="'Shape ' + i" [allowEditText]="true" [textLeft]="0" [textTop]="0.7"
                            [textWidth]="1" [textHeight]="0.3">
                            <dxi-connection-point [x]="0.5" [y]="0"></dxi-connection-point>
                            <dxi-connection-point [x]="0.9" [y]="0.5"></dxi-connection-point>
                            <dxi-connection-point [x]="0.5" [y]="1"></dxi-connection-point>
                            <dxi-connection-point [x]="0.1" [y]="0.5"></dxi-connection-point>
                        </dxi-custom-shape>
                        <dxi-custom-shape *ngFor="let emp of employee" category="employees" [type]="'employee' + emp.ID"
                            baseType="rectangle" [defaultText]="emp.Full_Name" [allowEditText]="false">
                        </dxi-custom-shape>
                    </dx-diagram>
                </div>
            </div>
        </div>
    </div>

    <!-- Fila 1 -->
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header cardSeconday">
                    <h5 class="card-title">Imagen Principal</h5>
                </div>
                <div class="card">
                    <img style="height: 300px; width: 100%;" src="../../../../assets/images/aquagenia.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header cardSeconday">
                    <h5 class="card-title">Ubicación</h5>
                </div>
                <div class="card-body">
                    <!-- Contenedor del mapa -->
                    <div id="map" style="height: 285px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fila 2 -->
    <div class="row mb-1">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header cardSeconday">
                    <h5 class="card-title">Street View</h5>
                </div>
                <div class="card-body">
                    <div id="street-view" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header cardSeconday">
                    <h5 class="card-title">Galería</h5>
                </div>
                <div class="card-body">
                    <div class="carousel">
                        <button class="carousel-control prev" (click)="moveCarousel(-1)">&#10094;</button>
                        <img [src]="images[currentIndex]" [class.animate]="isAnimating" alt="Carrusel de imágenes"
                            class="carousel-image" />
                        <button class="carousel-control next" (click)="moveCarousel(1)">&#10095;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header cardSeconday">
                    <h5 class="card-title">Tarjeta 5</h5>
                    <p class="card-text">Contenido de la tarjeta 5, que abarca toda la fila.</p>
                </div>
                <div class="card-body">
                    <dx-data-grid id="gridContainer" [dataSource]="customers" keyExpr="ID" [showBorders]="true">
                        <dxi-column *ngFor="let column of columns" [dataField]="column"></dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- NO BORRAR CODIGO -->