<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="search-bar mb-3">
            <input type="text" placeholder="Buscar: N° Determinante" class="form-control d-inline-block w-auto">
            <button class="btn btn-primary ml-2">Buscar</button>
            <button class="btn btn-secondary ml-2">Todos</button>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="content-cards">
                <div class="operation mb-3" *ngFor="let operation of operations">
                  <div class="card card-new-design mb-4 tooltip-custom">
                    <div class="card-header bg-dark text-light">
                      <h5 class="card-title text-center">{{ operation.name }}</h5>
                    </div>
                    <div class="card-body p-3">
                      <div class="image-container mb-3" *ngIf="operation.imageUrl">
                        <img [src]="operation.imageUrl" alt="Operation Image" class="img-fluid rounded">
                      </div>
                      <div class="no-image mb-3" *ngIf="!operation.imageUrl" style="text-align: center; color: gray;">
                        No image available
                      </div>
                      <div class="details">
                        <ul class="list-group">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                              <i class="fa fa-list" aria-hidden="true"></i> Operación:
                            </span>
                            <button class="badge bg-warning text-dark" (click)="irDetalle()">
                              <span>{{ operation.opertion }}</span>
                            </button>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                              <i class="fa fa-file-text" aria-hidden="true"></i> Det:
                            </span>
                            <span>{{ operation.det }}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                              <i class="fa fa-home" aria-hidden="true"></i> Empresa:
                            </span>
                            <span>{{ operation.company }}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i> Fecha:
                            </span>
                            <span>{{ operation.date }}</span>
                          </li>
                        </ul>
                      </div>
                      <!-- Custom Tooltip -->
                      <!-- <span class="tooltip-text">
                        Operación: {{ operation.opertion }} <br>
                        Det: {{ operation.det }} <br>
                        Empresa: {{ operation.company }} <br>
                        Fecha: {{ operation.date }}
                      </span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 map-container" style="display: flex; align-items: center; justify-content: center;">
              <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
