<div class="container-fluid">
  <div class="row">
    <!-- Barra de búsqueda -->
    <div class="col-12 mb-4">
      <div class="search-bar">
        <input type="text" placeholder="Buscar: N° Determinante" class="form-control">
        <button class="btn btn-primary ml-2">Buscar</button>
        <button class="btn btn-secondary ml-2">Todos</button>
        <button class="btn btn-danger ml-2" (click)="restaurarMapa()" [@fadeInUp] *ngIf="showMapZoom">Restaurar</button>
      </div>
    </div>

    <!-- Sección de tarjetas -->
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="content-cards">
        <div class="operation" *ngFor="let operation of operations">
          <div class="card card-new-design mb-4">
            <div class="card-header">
              <h5 class="card-title">Operación: {{ operation.name }}</h5>
            </div>
            <div class="card-body">
              <div class="image-container mb-3">
                <img *ngIf="operation.imageUrl" [src]="operation.imageUrl" alt="Operation Image" class="img-fluid">
                <div *ngIf="!operation.imageUrl" class="no-image">
                  No image available
                </div>
              </div>
              <div class="details">
                <div class="detail-item d-flex justify-content-between">
                  <span><strong>Det:</strong></span>
                  <span>{{ operation.det }}</span>
                </div>
                <div class="detail-item d-flex justify-content-between">
                  <span><strong>Empresa:</strong></span>
                  <span>{{ operation.company }}</span>
                </div>
                <div class="detail-item d-flex justify-content-between">
                  <span><strong>Fecha:</strong></span>
                  <span>{{ operation.date }}</span>
                </div>
              </div>              
              <div class="text-center d-flex mt-3">
                <!-- HTML !-->
                <button class="buttonDetalle" role="button" (click)="irDetalle()">Detalle</button>
                <button class="buttonMap" role="button" (click)="centrarEnUbicacion(operation.position)">Ubicar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sección del mapa -->
    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="map-container" id="map"></div>
    </div>
  </div>
</div>
